/*styles form inputs*/
.forminput{
    display: flex;
    justify-content: space-between;
    padding: 10px 25px;
    margin: 4px 2px;
}

.forminput input, .forminput select,.forminput textarea{
    width: 40em;
    border-radius: 15px;

}

#customisationpart{
    max-width: 50em;
    margin: 10px auto;
}
textarea{
    display: block;
    height: 10em;

}


fieldset{
    border-radius: 25px;
}
form{
    color: var(--bone);

}
.formbutton{
    margin-top: 10px;
    width: 250px;
    border-radius: 5px;
    height: 75px;
    background: var(--grullo);
}

.validinputmail{
    background: green;
}
.nonvalidinputmail{
    background: white;
}
.validinputname{
    background: green;
}
.nonvalidinputname{
    background: white;
}