/*Makes container grid*/
.gcontainer{
    display: grid;
    grid-template-columns: 1fr 20fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    ". header ."
    ". main ."
    " . footer .";
}
/*styles header for grid*/
.gheader{
    grid-area: header;
}
/*styles main for grid & adds nested grid for the underlaying sections*/
.gmain{
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 10fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:
    "gbreadcrumb gbreadcrumb gbreadcrumb"
    "gproductinfo gproductinfo goptions"
    "gproductinfo gproductinfo gcart";
}
/*styles footer for grid*/
.gfooter{
    grid-area: footer;
    border: solid black 1px;
    border-radius: 10px;
    text-align: left;

}
/*styles footer unordened list child for grid*/
.gfooter ul{
    list-style-type: none;
}
/*styles the breadcrumb*/
.gbreadcrumb{
    grid-area:gbreadcrumb;
    border: solid black 1px;
    border-radius: 10px;
}
/*styles the ordened list of the breadcrumb*/
.gbreadcrumb ol{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}
/*styles the list items of the breadcrumb*/
.gbreadcrumb li a{
    text-decoration: none;
    color: var(--beau-blue);
}
/*styles product info section for nested grid*/
.gproductinfo{
    grid-area:gproductinfo;
    border: solid black 1px;
    border-radius: 10px;
    -ms-grid-column-span: 3;
    align-content: center;
    text-align: center;
}
/*styles options section for nested grid*/
.goptions{
    grid-area:goptions;
    border: solid black 1px;
    border-radius: 10px;
}
/*styles cart section for nested grid*/
.gcart{
    grid-area:gcart;
    border: solid black 1px;
    border-radius: 10px;
}

