/*styles main for grid & adds nested grid for the underlaying sections*/
.gmain{
    display: grid;
    grid-template-columns: 10fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:
    " gbreadcrumb gbreadcrumb"
    " gproductinfo goptions"
    " gproductinfo gcart";
}
/*styles product info section for nested grid*/
.gproductinfo{
    grid-area:gproductinfo;
    align-content: center;
    text-align: center;
}
/*styles options section for nested grid*/
.goptions{
    grid-area:goptions;
}
/*styles cart section for nested grid*/
.gcart{
    grid-area:gcart;
}

