:root{/* CSS HEX */
    --beau-blue: #d2e1e8ff;
    --bone: #d5d7caff;
    --grullo: #a49288ff;
    --cafe-au-lait: #a37d55ff;
    --liver-chestnut: #957350ff;
    --raw-umber: #87684aff;
    --cafe-noir:#433425;
    --liver-chestnut-2: #92765aff;
    --beaver: #9c8269ff;
    --grullo-2: #a58d77ff;
    --grullo-3: #ad9783ff;
}
/*style body*/
body{
    background-color: var(--raw-umber);
    font-family: "Poor Richard", serif;
}
/*style h1*/
h1{
    font-size: 90px;
}
/*style h2*/
h2{
    font-size: 45px;
}
/*style h3*/
h3{
    font-size: 30px;
}
/*style p*/
p{
    font-size: 23px;
}
/*style footer*/
footer{
    background-color: var(--cafe-noir);
    text-decoration: none;
}
/*style list in footer*/
footer li a{
    color: var(--bone);
}
/*hide titles*/
.hiddentitle{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    left: -10000px;
}
/*style menu & add flex container*/
#menu ul{
    display: flex;
    list-style-type: none;
    border: solid 4px var(--grullo) ;
    align-items: center;
    text-align: center;
    padding-left: 0;
}
/*Hide Submenu untill milestone 2.2*/
#menu .submenu{
    display: none;
}
/*style menu un ordened list child*/
#menu ul li {
    background-color: var(--cafe-au-lait);
    flex-grow: 1;
}
/*style menu list child*/
#menu li a {
    text-decoration: none;
    color: var(--beau-blue);
    padding: 10px 20px ;
    display: block;
    border: solid var(--grullo) 1px;
}
/*Hover over item*/
#menu li a:hover{
    background-color: var(--grullo);
    color: var(--bone);
}
/*Highlights active page*/
#menu ul .active {
    background-color: var(--beaver);
}

