:root{/* CSS HEX */
    --beau-blue: #d2e1e8ff;
    --bone: #d5d7caff;
    --grullo: #a49288ff;
    --cafe-au-lait: #a37d55ff;
    --liver-chestnut: #957350ff;
    --raw-umber: #87684aff;
    --cafe-noir:#433425;
    --liver-chestnut-2: #92765aff;
    --beaver: #9c8269ff;
    --grullo-2: #a58d77ff;
    --grullo-3: #ad9783ff;
}
/*style body*/
body{
    background-color: var(--raw-umber);
    font-family: "Poor Richard", serif;
}
/*style h1*/
h1{
    font-size: 90px;
}
/*style h2*/
h2{
    font-size: 45px;
}
/*style h3*/
h3{
    font-size: 30px;
}
/*style p*/
p{
    font-size: 23px;
}
/*style footer*/
footer{
    background-color: var(--cafe-noir);
    text-decoration: none;
}
/*style list in footer*/
footer li a{
    color: var(--bone);
}
/*style boarders*/
.border{
    border: solid black 1px;
    border-radius: 10px;
}
/*hide titles*/
.hiddentitle{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    left: -10000px;
}
/*style menu & add flex container*/
#menu ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    text-align: center;
    padding-left: 0;
    flex-grow: 1;
    position: relative;
}
/*style menu un ordened list child*/
#menu ul li {
    border: solid 4px var(--grullo) ;
    background-color: var(--cafe-au-lait);
    flex-grow: 1;
}
/*style menu list child*/
#menu li a {
    text-decoration: none;
    color: var(--beau-blue);
    padding: 10px 20px ;
    display: block;
    border: solid var(--grullo) 1px;
}
/*Hover over item*/
#menu li:hover >a{
    background-color: var(--grullo);
    color: var(--bone);
}
/*Highlights active page*/
#menu ul .active {
    background-color: var(--beaver);
}

/*Makes container grid*/
.gcontainer{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "header"
    "main"
    "footer";
    padding-left: 50px;
    padding-right: 50px;
}
/*styles header for grid*/
.gheader{
    grid-area: header;
}
/*styles main for grid & adds nested grid for the underlaying sections*/
.gmain{
    grid-area: main;
}
/*styles footer for grid*/
.gfooter{
    grid-area: footer;
    text-align: left;
}
/*styles footer unordened list child for grid*/
.gfooter ul{
    list-style-type: none;
}
/*styles the breadcrumb*/
.gbreadcrumb{
    grid-area:gbreadcrumb;
}
/*styles the ordened list of the breadcrumb*/
.gbreadcrumb ol{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}
/*styles the list items of the breadcrumb*/
.gbreadcrumb li a{
    text-decoration: none;
    color: var(--beau-blue);
}

/*Styling of the submenu*/
#menu .submenu{
    display: none;
    flex-direction: column;
    position: absolute;
    width: 22%;
}
#menu .submenu li{
  padding: 3px;
}

#menu li:hover a ~.submenu{
    display: flex;
}